<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movies List</title>
    <!-- Bootstrap CSS for styling the table -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Movies List</h2>
        <a href="/" class="btn btn-secondary mb-3">Home</a>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark"> <!-- creates a dark background for the table header -->
                <tr>
                    <th>Title</th>
                    <th>ReleaseYear</th>
                    <th>Genre</th>
                    <th>Director</th>
                    <th>Studio</th>
                </tr>
            </thead>
            <tbody> <!-- table body -- loop through all of the users -->
                {% for movie in movies %}
                <tr>
                    <td>{{ movie.Title }}</td>
                    <td>{{ movie.ReleaseYear }}</td>
                    <td>{{ movie.Genre }}</td>
                    <td>{{ movie.Director }}</td>
                    <td>{{ movie.StudioName }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </body>
</html>
